{% extends 'base.html.twig' %}
{% block title %}New Category{% endblock %}
{% block body %}
    <h1 class="new-cate-tit">CREATE CATEGORY</h1>
    <div class="form-edit-catego">
      {{ form_start(form) }}
          {{ form_widget(form) }}
          <button  type="submit" class="btn-crear" value="Create">Create <span class="icon-stack"> </span></button>
      {{ form_end(form) }}

{% endblock %}
